{% extends 'base.html.twig' %}

{% block title %}Edit Events{% endblock %}

{% block body %}

<div class="container-form">
  <div class="form1">
    <h1 class="text-center">Edit Events</h1>
     
    {{ include('events/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_events_index') }}">Back to events</a>

    {{ include('events/_delete_form.html.twig') }}
   
  </div>
</div>
{% endblock %}
