{% extends 'base.html.twig' %}

{% block title %}New Events{% endblock %}

{% block body %}
<div class="container-form">
  <div class="form1">
    <h1 class="text-center">Create new Events</h1>
    {{ include('events/_form.html.twig') }}
    <a class="btn btn-primary mt-1" href="{{ path('app_events_index') }}">Back to events</a>
  </div>
</div>
{% endblock %}
